<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  

  <!-- Bootstrap -->
  <link href="getXpert/css/bootstrap.css" rel="stylesheet">
  <link href="getXpert/css/bootstrap-theme.css" rel="stylesheet">

  <!-- siimple style -->
  <link href="getXpert/css/style.css" rel="stylesheet">

  
</head>

<body>

  
 

  <div id="header">
    <div class="container">
      <div class="row">
	  <center>
        <div class="col-md-12 f1">
          <h1>getXpert</h1>
		  </div>
		  </center>
		  </div>
          
          <form class="form-inline signup" role="form">
		  <div class="col-md-2"></div>
		  <div class="col-md-3">
		  
          <a class="btn btn-theme" href="Login.html" role="button">Log In</a></div>
		    <div class="col-md-1"></div>
		   <div class="col-md-2"></div>
		   <div class="col-md-3">
			<a class="btn btn-theme" href="signup.html" role="button">Sign Up</a></div>
          </form>
		  
        
       

      
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>
