<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  

  <!-- Bootstrap -->
  <link href="getXpert/css/bootstrap.css" rel="stylesheet">
  <link href="getXpert/css/bootstrap-theme.css" rel="stylesheet">

  <!-- siimple style -->
  <link href="getXpert/css/style.css" rel="stylesheet">

 
</head>

<body>

  <!-- Fixed navbar -->
 <div class="navbar navbar-inverse navbar-fixed-top f">
    <div class="container">
      <div class="navbar-header ">
       
        <a class="navbar-brand" href="index.html" style="font-size:40px">getXpert</a>
      </div>
      </div></div>
      <!--/.nav-collapse -->
 

  <div id="header">
    <div class="container ">

<div class="row " >
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 m">
		<form role="form">
			<h2><center><span class="glyphicon glyphicon-lock"></span>  Log IN</center></h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="form-group">
                        <input type="text" name="User_name" id="User_name" class="form-control input-lg" placeholder="Enter User name" tabindex="1">
					</div>
				</div>
				
			</div>
			
			
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
					</div>
				</div>
				
			</div>
			
				<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12"style="color:white">
						<input type="checkbox">  Remember Me
					</div>
					</div>
			<center>
			
			<div class="row">
				
				<div class="col-xs-12 col-sm-12 col-md-12">
				<a class="btn btn-th " href="#" role="button">Log In</a></div>
				</div>
			
			</center>
			
			
			
		</form>
<center>
	
		<div class="row" style="color:white;">
		
				<div class="col-xs-12 col-sm-12 col-md-12"style="color:white;">
					Don't have an account?<a href="signup.html" style="color:#55ACEE  ;padding-left:5px;font-weight:10px"> Sign Up</a>
				</div>
		</div>
		<div class="row" style="color:white">
		
				<div class="col-xs-12 col-sm-12 col-md-12"style="color:white">
					<a href="#" style="color:white">  Forgot your password?</a>
				</div>
			</div>
			</center>
			</div>
</div>
</div>

</div>
  
  
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>
