<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  

  <!-- Bootstrap -->
  <link href="getXpert/css/bootstrap.css" rel="stylesheet">
  <link href="getXpert/css/bootstrap-theme.css" rel="stylesheet">

  <!-- siimple style -->
  <link href="getXpert/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- Fixed navbar -->
 <div class="navbar navbar-inverse navbar-fixed-top f">
    <div class="container">
      <div class="navbar-header">
       
        <a class="navbar-brand " href="index.html" style="font-size:40px">getXpert</a>
      </div>
      </div></div>
      <!--/.nav-collapse -->
 

  <div id="header">
    <div class="container ">

<div class="row" >
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 m">
		<form role="form ">
			<h2><center><span class="glyphicon glyphicon-lock"></span>  Please Sign Up</center></h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
					</div>
				</div>
			</div>
			
			
			<center>
			
			<div class="row">
				
				<a class="btn btn-th" href="#" role="button">Register</a>
				
				
			</div>
			<div class="row" style="color:white">
		
				<div class="col-xs-12 col-sm-12 col-md-12"style="color:white">
					<a href="#" style="color:white">  Already have an Account?</a>
				</div>
			</div></center>
			<center>
			<div class="row">
			<a class="btn btn-th " href="Login.html" role="button">Log In</a></div>
			</div>
			</center>
			</div>
			
		</form>
	</div>
</div>

</div>
  </div>
  
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>
